@import "tokens/variables";

body {
  background: var(--primary-95);
  font-family: var(--font-family-base);
}

.header-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--neutral-50);
  padding: 0 var(--spacing-200);
  .menu {
    display: flex;
    flex-direction: row;
    > li {
      position: relative;
      padding: var(--spacing-200);
    }
  }
}
.menu-sub-wrap {
  display: none;
  position: absolute;
  padding: var(--spacing-200);
  background: var(--color-light);
  border: 1px solid var(--secondary-99);
  &.active {
    display: block;
  }
}
